<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link  rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">

  <title>Software Design</title>
</head>
<body>
<h1 class="animate__animated animate__bounce d-flex justify-content-center mt-20rem">Welcome to Software Design</h1>
<nav class=" animate__animated animate__backInDown navbar-dark bg-dark navbar navbar-expand-lg navbar-light bg-light
container shadow-lg p-3 mb-5  rounded ">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
          aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul  class="animate__animated animate__fadeIn animate__delay-1s navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link active " th:href="@{/}">Home<span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link active " th:href="@{/requirementsAndUseCases}">Requirements And Use-Cases<span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link active " th:href="@{/classModelsAndDiagrams}">Class Models and Diagrams<span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link active " th:href="@{/classDiagrams}">Class Diagrams<span class="sr-only"></span></a>
      </li>
    </ul>
    <span class="navbar-text">
        </span>
  </div>
</nav>

<div class="animate__animated animate__backInDown container shadow-lg p-3 mb-5 bg-white rounded ">
  <h1>
    Associations
  </h1>
</div>
</body>
</html>